@import "tailwindcss";
@import 'flowbite';

body {
    background-color: #e3e2e570;
}

/********* scrollbar css ************/
::-webkit-scrollbar {
    width: 3px !important;
}

::-webkit-scrollbar-track {
    background: #000000 !important;
}

::-webkit-scrollbar-thumb {
    background: #696969 !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
    transition: transform 0.9s linear, background-color 0.9s linear;
}

/* //--------------------------------------------------------------------- */

@media (max-width: 1340px) {
    .hide {
        display: none !important;
    }

    .hide-cate {
        display: none !important;
    }

    .hide-catemobile {
        display: block !important;
    }

    .navfull {
        width: 100% !important;
    }

    .navfulltab {
        width: 100% !important;
        background: #000;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important; 
        align-items: center !important;
        text-align: center !important;
    }

    .searchinput {
        width: 300px;
    }
}
 