@import "tailwindcss";
@import 'flowbite';


@media (max-width: 1340px) {
    .hide {
        display: none !important;
    }

    .hide-cate {
        display: none !important;
    }

    .hide-catemobile {
        display: block !important;
    }

    .navfull {
        width: 100% !important;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.custom-container {
    background-color: red;
    height: 200px;
    border-radius: 20px;
}

.custom-input {
    border-radius: 0px;
    height: 45px;
}

.button {
    background-color: white;
    color: black;
    border: none;
    height: 45px;
    border-radius: 0;
    padding: 0 20px;
}