@import "tailwindcss";
@import 'flowbite';


@media (max-width: 1340px) {
    .hide {
        display: none !important;
    }

    .hide-cate {
        display: none !important;
    }

    .hide-catemobile {
        display: block !important;
    }
    .navfull{
        width: 100% !important;
    }
}